.progress-bar-main {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}
.progress-bar {
    width: 30%;
    background-color: #e0e0e0; /* Jasnoszary pasek tła */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 20px;
  }
  
  .progress-bar-fill {
    background-color: #f1ea14; /* Niebieski pasek wypełnienia */
    height: 100%;
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #414141; /* Tekst na niebieskim tle */
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .progress-bar-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #4f4f4f;
  }
  